body {
    margin: 0;
    padding: 0;
}


#slideshow {  
    position: relative; 
    width: 2000px; 
    height: 730px; 
    border: none;  
}

#slideshow > div { 
    position: absolute;
    border: none;
}

.header {
	padding-left: 15px;
	z-index: 3;
	display: inline-block;
	position: relative;
}

.nav a {
	position: relative;
	display: inline-block;
	float: right;
	text-decoration: none;
	padding: 30px;
	font-family: sans-serif;
	color: black;
	z-index: 500;
}

.nav a:hover {
	text-decoration: none;
	color: red
}

.map {
	padding-top: 40px;
	margin: auto;
	padding-left: 20px;
}

.about {
	display: block;
	margin: auto;
}

